Greetings #{@username},
%br
We noticed you've not filled out today's card, and time's running out.
%br
= link_to "Visit 365Cards Now to fill in today's entry!", root_url
%br
#{root_url}
%br
\- 365Cards
