.content.welcome
  %h1 Welcome to 356Cards
  %p 
    I started this project as a digitalization of a concept my wife found on a 
    crafty site. Take a box, fill it with 365 cards (one for every day of the year)
    and on each day fill out a short bit about what you did. Drop in a photo. 
    A postcard. Whatever. Over time you'll fill up the cards with notes about 
    events, people, and places that you would have forgotten. 
  %p 
    Since it's private, you can be mundane and boring. Be honest about what you 
    want to remember about that day. 
  %p 
    I'm still building, but you're free to try it out.
  %p.signature
    \- Brian
  .signup
    = render :partial => 'devise/registrations/form'
  %br.clear

