.content 
  .card 
    %h2 What has happened on #{params[:month]}/#{params[:day]}
    - @cards.each do |card|
      .entry 
        .year= card.year
        .text= card.entry
        %br.clear
      %br.clear

