.content 
  - unless current_user.has_done_yesterdays_card?
    .forget 
      You didn't fill out your card yesterday!
      %br
      You can still fill it out if you 
      = link_to 'Click Here', yesterday_path
  .entry
    - if current_user.has_done_todays_card?
      %h2 You wrote on today's notecard.
      Come back tomorrow!
    - else 
      = render 'form'
  #card
    - if @cards.present? 
      = render :partial => 'card'
