/*
 *= require_self
 *= require_tree .
*/
@import 'mixins';
@import "bootstrap";

$light: #ADAAB0;
$medium: #5E5C60;
$dark: #333333;
$accent: #2E1E3F;

@mixin defdiv {
  background: white;
  box-shadow: 0 0 5px $accent;
  border-radius: 3px;
  opacity: .98;
}

input[type="checkbox"] {
  margin-top: 1px;
}

.form-actions {
  background-color: transparent;
  padding: 0;
  border: none;
}

.new_card {
  @include defdiv;
  padding: 10px;
}

#cards_index {
  .nav {
    @include defdiv;
    li {
      &:first-child a {
        border-radius: 3px 3px 0 0;
      }
      &:last-child a {
        border-radius: 0 0 3px 3px;
      }
      a {
        border: 1px solid #e5e5e5;
        padding: 4px 10px;
        margin-bottom: -1px;
        width: 180px;
      }
      .icon-chevron-right {
        float: right;
      }
    }
  }
  .month {
    @include defdiv;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding: 10px;
  }
}

#cards_new {
  .card {
    @include defdiv;
    padding: 10px;
  }
}


body {
  background: url('clutter.jpg');
  background-position: center center;
  background-attachment:fixed;
  .main {
    margin-top: 65px;
  }
  .avatar {
    height: 26px;
    width: 26px;
    margin: 7px 7px 0 0;
  }
  .clear { clear: both; }
  footer {
    @include defdiv;
    font-size: 12px;
    position: fixed;
    right: 0px;
    padding: 5px 20px;
    bottom: 0px;
    border-radius: 3px 0 0 0;
    margin: 0;

  }
}

.signup {
  @include defdiv;
  form {
    margin-top: 20px;
  }
}

#static_index {
  .welcome {
    @include defdiv;
    h1 {
      text-align: center;
      margin: 10px auto 15px
    }
    p {
      width: 400px;
      margin: 15px auto;
    }
    .form {
      margin: 20px auto;
      height: 150px;
    }
  }
}


