/*
 *= require_self
 *= require_tree . 
*/

$light: #ADAAB0;
$medium: #5E5C60;
$dark: #333333;
$accent: #2E1E3F;

@mixin defdiv { 
  background: $light;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px $accent;
  border-radius: 3px;
  opacity: .95;
}

a { 
  color: $medium;
  text-decoration: none;
  text-shadow: none;
  &:hover { 
    text-shadow: 0 0 1px $accent;
    text-decoration: underline;
  }
}
.clear { clear: both; } 

#error_explanation {
  ul { 
    list-style: none;
    text-align: right;
    margin: 0;
    li { 
      display: none;
      @include defdiv;
      position: absolute;
      padding: 3px 10px; 
      margin: 0;
      color: white;
      background-color: darkRed;
      p { 
        position: absolute;
        right: -13px;
        top: -20px;
        color: darkRed;
        font-size: 20px;
        text-shadow: none;
      }
    }
  }
}

.error {
  @include defdiv;
  position: absolute;
  top: 25%;
  left: 35%;
  width: 300px;
  .explanation {
    h1 { 
      font-size: 40px;
      text-align: center;
      color: #111;
      margin: 5px;
      text-shadow: 0 0 2px $accent;
    }
    p { 

    }
  }
}

body { 
  background: url('clutter.jpg');
  background-position: center middle;
  font-family: helvetica;
  color: $dark;
  text-shadow: 0px 0px 0px white;
  .notice {
    @include defdiv;
    margin: 0;
    position: fixed;
    top: 0;
    left: 45%;
    background-color: #FF7373;
    padding: 5px 30px;
    border-radius: 0 0 3px 3px ;
  }
  nav { 
    ul { 
      margin: 0;
      padding: 0;
      list-style: none; 
    } 
    @include defdiv;
    position: fixed;
    top: 80px;
    right: 10px;
    width: 150px;
  }
  header {
    @include defdiv;
    position: fixed;
    margin: 0;
    top: 10px;
    left: 10px;
    color: $accent;
    padding: 15px 50px;
    font-size: 43px;
    line-height: 51px;
    text-shadow: 0 0 2px black;
  }
  .content {
    @include defdiv;
    width: 600px; 
    margin: 125px auto 30px; 
  }
  footer {
    @include defdiv;
    font-size: 12px;
    position: fixed;
    right: 0px;
    padding: 5px 20px;
    bottom: 0px;
    border-radius: 3px 0 0 0;  
    margin: 0;

  }
}
.devise { 
  @include defdiv;
  width: 300px;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 200px;
  left: 30%;
}

.form { 
  width: 300px;
  margin: 0;
  padding: 0;
  .field { 
    border-radius: 2px;
    border: 1px solid $medium;
    border-image: initial;
    height: 28px;
    width: 190px;
    float: left;
    margin: 4px 2px;
    input { 
      border-radius: 1px;
      border: 0;
      padding: 4px 0px 4px 10px;
      margin: 0;
      outline: none;
      font-size: 16px;
      width: 180px;
      height: 20px;
    }
    label { 
      position: relative;
      top: 1px;
      left: 1px;
      bottom: 1px;
      right: 1px;
      display: block;
      width: 175px;
      height: 20px;
      font-size: 16px;
      padding: 4px;
      vertical-align: baseline;
      margin: -28px 4px;
      color: #888;
      text-shadow: none;
    }
  }
  .active { 
    box-shadow: 0 0 5px $accent;
    border: 1px solid $accent;
  }
  .checkbox { 
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 10px;
    label,input { 
      vertical-align: middle;
    }
  }
  .submit { 
    width: 90px;
  }
}
.cancel { 
  width: 400px;
  float: left;
}

.submit { 
  position: relative;
  border: 1px solid $accent;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 7px;
  border-image: initial;
  margin: 5px 0px 0 13px;
  cursor: pointer;
  &:hover {
    background-color: lighten($accent, 60%);
    box-shadow: 0 0 5px $accent;
  }
}

.welcome { 
  h1 { 
    text-align: center; 
    margin: 10px auto 15px
  } 
  p { 
    width: 400px;
    margin: 15px auto;
  }
  .form { 
    margin: 20px auto;
    height: 150px;
  }
  .signup { 
    font-size: 30px;
    text-align: center;
  }
}

